<!DOCTYPE html>
<html>
  <head>
    <title>MicroService Information</title>
  </head>
  <body>
    <ul>
      <li><strong>Name: mySQL data serialiser</strong></li>
      <li><strong>Version: 1.10</strong></li>
      <li><strong>ID: </strong> {{.ID}}</li>
      <li><strong>Index: </strong> {{.Index}}</li>
      <li><strong>Name: </strong> {{.Name}}</li>
      <li><strong>Host: </strong> {{.Host}}</li>
      <li><strong>Port: </strong> {{.Port}}</li>
    </ul>
  </body>
</html>
